# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.env/
.env.*

# =========================
# Model files (IMPORTANT)
# =========================
*.pkl
*.joblib
*.h5
*.pt
*.onnx
models/
model/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
